@import url(colors.css);
/* @import url('https://fonts.googleapis.com/css?family=Itim|Ubuntu:400,700'); */
@keyframes freerot {
    from {
        transform: rotate(90deg)
    }
    to {
        transform: rotate(450deg)
    }
}

@keyframes loading {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(-1);
    }
}

input::-moz-focus-inner, button::-moz-focus-inner {
    border: 0;
    padding: 0
}

* {
    margin: 0;
    padding: 0;
    scrollbar-color: gray black;
}

html {
    background-color: #000;
    color: #eee;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
}

.top {
    width: 4000px;
    height: 2000px;
    transform-origin: 0% 0%;
    font-size: 80px;
}

.top.vert {
    width: 2000px;
    height: 4000px;
}

.top.sqr {
    width: 640px;
    height: 640px;
}

.elemcontainer {
    float: left;
    width: 4000px;
    height: 2000px;
    display: block;
    /* transition: transform 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28); */
    /* transition: transform 0.2s; */
    transform: scale(1);
    transform-origin: 25% 50%;
    z-index: 1;
}
.shapcontcontainer {
    float: left;
    height: 2000px;
    width: 1200px;
    overflow: hidden;
    z-index: 2;
}

.vert .shapcontcontainer {
    height: 1200px;
    width: 2000px;
}

.shapelocker{
    fill: transparent;
    cursor: not-allowed;
}

.unlockedblocks .shapelocker, 
.hiddenboard .shapelocker,
.hiddenboard .mainboard, 
.hiddenboard .shapecontainer, 
.hiddenboard .shapepageindicator, 
.backdrop{
    display: none;
}

.hiddenboard .backdrop{
    display: block;
}

.panel {
    height: 1800px;
    width: 800px;
    margin-top: 200px;
    margin-right: 0px;
    position: absolute;
    overflow: visible;
    text-align: right;
    top: 0px;
    left: 3200px;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

.vert .panel {
    width: 1800px;
    height: 800px;
    margin-top: 0px;
    margin-right: 200px;
    position: absolute;
    top: 3200px;
    left: 0px;
}

h1 {
    width: 800px;
    height: 200px;
    position: absolute;
    top: 0px;
    left: 3200px;
    font-family: 'Itim', 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 150px;
    text-align: center;
    cursor: default;
    transition: transform 0.2s;
    text-shadow: 0 0 25px black;
}

.vert h1 {
    position: absolute;
    top: 3500px;
    left: 1500px;
    transform: rotate(90deg);
}

.shapecontainer {
    width: 100%;
    height: 100%;
}

.scorecontainer {
    overflow: hidden;
    text-align: center;
}

.te {
    font-weight: bold;
    cursor: default;
}

a {
    color: #00c0ff;
}

.link:hover {
    cursor: pointer;
    color: #fff;
    text-decoration: underline;
}

.rem, .sq {
    color: #808080
}

.sq::before {
    content: "»"
}

.sq::after {
    content: "«"
}

.ghost {
    color: transparent;
    border: none;
    background: none;
    cursor: default;
    opacity: 0.5;
}

.server .singleonly, .single .serveronly {
    display: none;
}

p, ul {
    font-size: 1em;
    margin-bottom: 1em;
}

label {
    display: block;
    font-size: 1em;
    clear: both;
}

.ngsts {
    width: 120px;
    padding: 25px;
    flex: 0 0 120px;
    margin-left: 30px;
}

.ngsts>i {
    display: block;
    transition: transform 200ms;
    font-size: 70px;
}

button, input, select, hr {
    font-size: 1em;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    padding: 10px;
    min-height: 120px;
    display: block;
    border: none;
    line-height: 1.2;
    border: 0px solid red;
    margin-bottom: 30px;
}

option {
    font-size: 1rem;
}

button, hr {
    background-color: #444;
    color: #eee;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}

hr {
    min-height: 10px;
    height: 10px;
}

button:hover {
    background-color: #eee;
    color: #111;
}

input, select {
    background-color: #eee;
    color: #111;
}

input:hover {
    background-color: #fff;
}

input[type="range"] {
    background-color: transparent;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label {
    margin-bottom: 30px;
}

input[type="checkbox"]+label::before {
    background-color: #eee;
    content: " ";
    height: 45px;
    width: 45px;
    border: 15px solid #eee;
    display: block;
    text-align: left;
    float: left;
    margin: 10px;
    border-radius: 30%;
}

input[type="checkbox"]+label.boxright::before {
    text-align: right;
    float: right;
}

input[type="checkbox"]:checked+label::before {
    background-color: #111;
}

input[type="checkbox"]:disabled+label::before {
    background-color: gray;
    border: 15px solid gray;
}

input[type="checkbox"]:disabled+label {
    color: gray;
}

input[type="checkbox"]:disabled:checked+label::before {
    background-color: #111;
    border: 15px solid gray;
}

input[type="checkbox"]+label:hover::before {
    border: 15px solid gray;
}

.meinfo {
    display: inline;
}

.meter-outer {
    background-color: #000;
    height: 105px;
    width: 100%;
    max-width: 1200px;
    font-size: 1em;
    border: none;
    color: #fff;
    display: block;
    margin-bottom: 30px;
    text-align: center;
    position: relative;
    float: left;
}

.meter-inner {
    background-color: #eee;
    height: 105px;
    width: 0%;
    transition: width 1000ms linear;
}

.meter-text {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

.brandnewoverlays {
    position: absolute;
    width: 4000px;
    overflow: hidden;
    z-index: 100;
}

.overlaytab {
    border: 20px solid #eee;
    width: 3700px;
    height: 1700px;
    display: none;
    margin: 80px;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.9);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.95));
    box-shadow: 0px 0px 50px 25px rgba(0, 0, 0, 0.75);
    overflow: hidden;
    z-index: 110;
    flex-direction: column;
}

.vert .overlaytab {
    width: 1700px;
    height: 3700px;
}

.flex {
    flex: 1 0 0;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: stretch;
    height: 0;
}

.verticalflex {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
}

.lilflex {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

/* .vert .flex {
    display: initial;
} */

.overlaytab h2 {
    margin: 0 50px 25px;
    cursor: default;
    font-size: 1.3em;
    text-align: center;
}

.overlaytab h3 {
    margin: 0 50px 25px;
    cursor: default;
    font-size: 1em;
}

.overlaytab ul, .overlaytab li{
    list-style-position: inside;
}

.flexcolumn {
    width: auto;
    flex: 1 0 0px;
    padding: 0 50px;
    overflow: auto;
}

.flexcolumn.doublesize {
    flex: 2 0 100px;
}

.flexcolumn.reducable {
    transition: flex 0.6s, margin 0.6s, padding 0.6s, opacity 0.3s 0.3s;
}

.server .flexcolumn.reduced {
    flex: 0 1 0;
    overflow: hidden;
    padding: 0;
    opacity: 0;
    transition: flex 0.6s, margin 0.6s, padding 0.6s, opacity 0.3s;
}

.server label.reduced {
    height: 0;
    overflow: hidden;
}

.serverlist {
    overflow: auto;
}
.kickbutton{
    cursor: pointer;
}


.backoverlay {
    float: left;
    font-style: normal;
    font-variant-caps: normal;
    font-weight: normal;
    cursor: pointer;
}

.closeoverlay {
    float: right;
    font-style: normal;
    font-variant-caps: normal;
    font-weight: normal;
    cursor: pointer;
}

.roomentry {
    padding: 20px;
    border-bottom: 10px solid #444;
    cursor: default;
}

.roomentry:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.great, .is {
    text-align: center;
    margin: 15px;
}

.winner {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Itim', 'Ubuntu', sans-serif;
    margin: 0 15px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.winner span {
    font-family: 'Itim', 'Ubuntu', sans-serif;
}

.botpic {
    display: block;
    width: 50%;
    margin: auto;
}

.centered {
    text-align: center;
}

.centered ul {
    width: 80%;
    text-align: left;
    margin: auto;
    list-style-position: outside;
}

.loading {
    animation: loading 1s ease-in-out infinite alternate;
}

.olderp {
    font-size: 1em;
    float: right;
    table-layout: fixed;
    width: 800px;
}

.olderp th, .olderp td {
    overflow: hidden;
    text-overflow: ellipsis;
}

.olderp td {
    width: 150px;
}

.gonetable {
    width: auto;
    margin: 25px 50px;
    border: 10px solid gray;
    border-spacing: 0;
    white-space: pre-line;
    border-collapse: collapse;
    display: inline-table;
}

.gonetable th, .gonetable td {
    margin: 5px;
    padding: 15px;
    border: 10px solid gray;
    text-align: center;
    background-color: black;
}

.gonetable td {
    width: 100px;
}