@import url(colors.css);
@import url('https://fonts.googleapis.com/css?family=Itim|Ubuntu:400,300,500,700');







input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0
}

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #000;
    color: #eee;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
}


#top {
    width: 800px;
    height: 400px;
    font-size: 10px;
    transform-origin: 0% 0%;
}

#top.vert {
    width: 400px;
    height: 800px;
}

#top.sqr {
    width: 640px;
    height: 640px;

}

#elemcontainer {
    float: left;
    width: 800px;
    height: 400px;
    display: block;
    /* transition: transform 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28); */
    transition: transform 0.2s;
    transform: scale(1);
    transform-origin: 25% 50%;
    z-index: 1;
}

#shapcontcontainer {
    float: left;
    height: 400px;
    width: 240px;
    overflow: hidden;
    z-index: 2;
}

.vert #shapcontcontainer {
    height: 240px;
    width: 400px;
}

#opts {
    height: 360px;
    width: 160px;
    margin-top: 40px;
    margin-right: 0px;
    position: absolute;
    overflow: visible;
    text-align: right;
    top: 0px;
    left: 640px;
    z-index: 10;
}

.vert #opts {
    width: 360px;
    height: 160px;
    margin-top: 0px;
    margin-right: 40px;
    position: absolute;
    top: 640px;
    left: 0px;
}

h1 {
    width: 160px;
    height: 40px;
    position: absolute;
    top: 0px;
    left: 640px;
    font-family: 'Itim', 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    cursor: default;
    transition: transform 0.2s;
    text-shadow: 0 0 5px black;
}

.vert h1 {
    position: absolute;
    top: 700px;
    left: 300px;
    transform: rotate(90deg);
}

#shapecontainer {
    width: 100%;
    height: 100%;
}

#scorecontainer {
    overflow: hidden;
    text-align: center;
}

.blockd {
    display: block;
    position: absolute;
}

.block {
    /*    display: none;*/
    /*    float: left;*/
    /*transition: transform 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);*/
    transition: transform 0.2s;
    height: 100%;
    width: 100%;
}

.page-0 .ofp-0 .block,
.page-1 .ofp-1 .block,
.page-2 .ofp-2 .block,
.page-3 .ofp-3 .block,
.page-4 .ofp-4 .block,
.page-5 .ofp-5 .block,
.page-6 .ofp-6 .block,
.page-7 .ofp-7 .block,
.page-8 .ofp-8 .block,
.page-9 .ofp-9 .block {

    display: block;
}

.te {
    font-weight: bold;
    cursor: default;
}

.rem,
.sq {
    color: #808080
}

.sq::before {
    content: "»"
}

.sq::after {
    content: "«"
}

.ghost {
    color: transparent;
    border: none;
    background: none;
    cursor: default;
    opacity: 0.5;
    clear: both;
    text-align: center;
}

p,
ul {
    font-size: 15px;
}

label {
    display: block;
    font-size: 15px;
    clear: both;
}

.ngsts {
    width: 24px;
    padding: 3px;
    flex-grow: 0;
}

.ngbtn {
    width: auto;
    margin-right: 6px;
    flex-grow: 1;
}

.ngcnt {
    display: flex;
}

button,
input,
select {
    font-size: 15px;
    margin-bottom: 6px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    padding: 3px;
    display: block;
    border: none;
    line-height: 1.2;
    border: 0px solid red;
}

button {
    background-color: #444;
    color: #eee;
    text-align: center;
}

button:hover {
    background-color: #eee;
    color: #111;
}

input,
select {
    background-color: #eee;
    color: #111;
}

input:hover {
    background-color: #fff;
}

input[type="range"] {
    background-color: transparent;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    margin-bottom: 6px;
}

input[type="checkbox"] + label::before {
    background-color: #eee;
    content: " ";
    height: 9px;
    width: 9px;
    border: 3px solid #eee;
    display: block;
    text-align: left;
    float: left;
    margin: 2px;
    border-radius: 30%;
}

input[type="checkbox"] + label.boxright::before {
    text-align: right;
    float: right;
}

input[type="checkbox"]:checked + label::before {
    background-color: #111;
}

input[type="checkbox"]:disabled + label::before {
    background-color: gray;
    border: 3px solid gray;
}

input[type="checkbox"]:disabled + label {
    color: gray;
}

input[type="checkbox"]:disabled:checked + label::before {
    background-color: #111;
    border: 3px solid gray;
}

input[type="checkbox"] + label:hover::before {
    border: 3px solid gray;
}

.meinfo {
    display: inline;
}

#meter-outer {
    background-color: #000;
    height: 21px;
    width: 100%;
    max-width: 240px;
    font-size: 15px;
    border: none;
    color: #fff;
    display: block;
    margin-bottom: 6px;
    text-align: center;
    position: relative;
    float: left;
}

#meter-inner {
    background-color: #eee;
    height: 21px;
    width: 0%;
    transition: width 1000ms linear;
}

#meter-text {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

#brandnewoverlays {
    position: absolute;
    /*width: 100%;*/
    /*height: 100%;*/
    /*display: none;*/
    overflow-y: auto;
    z-index: 100;
}


.overlaytab {
    border: 4px solid #eee;
    width: 744px;
    height: 344px;
    display: none;
    margin: 15px;
    padding: 10px;
    /*border-radius: 10%/50% ;*/
    /*animation: freerot 4s linear infinite;*/
    background-color: rgba(0, 0, 0, 0.9);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.95));
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
    overflow-y: auto;
    z-index: 110;
}

.vert .overlaytab {
    width: 344px;
    height: 744px;
}

.overlaytab h2 {
    margin: 0 10px 5px;
    cursor: default;
    font-size: 20px;
    text-align: center;
}

.overlaytab h3 {
    margin: 0 10px 5px;
    cursor: default;
    font-size: 15px;
}

.botpic {
    display: block;
    width: 50%;
    margin: auto;
}

.centered {
    text-align: center;
}

.centered ul {
    width: 80%;
    text-align: left;
    margin: auto;
}

@keyframes freerot {
    from {
        transform: rotate(90deg)
    }

    to {
        transform: rotate(450deg)
    }
}

.thircont {
    display: flex;
}

.vert .thircont {
    display: initial;
}

.third {
    width: auto;
    flex-grow: 1;
    margin: 0 10px;
    flex-basis: 0;
}

.great {
    text-align: center;
    margin: 3px;
}

#winner {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Itim', 'Ubuntu', sans-serif;
    margin: 0 3px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.winner span {
    font-family: 'Itim', 'Ubuntu', sans-serif;
}

.olderp {
    font-size: 15px;
    float: right;
    table-layout: fixed;
    width: 160px;
}

.olderp th,
.olderp td {
    overflow: hidden;
    text-overflow: ellipsis;
}

.olderp td {
    width: 30px;
}

#gonetable {
    width: auto;
    margin: 5px 10px;
    border: 2px solid gray;
    border-spacing: 0;
    white-space: pre-line;
    border-collapse: collapse;
    display: inline-table;
}




#gonetable th,
#gonetable td {
    margin: 1px;
    padding: 3px;
    border: 2px solid gray;
    text-align: center;
    background-color: black;
}

#gonetable td {
    width: 20px;
}
