@keyframes colorspin {
    0% {
        color: #00ff00
    }
    16.7% {
        color: #00ffff
    }
    33.3% {
        color: #0000ff
    }
    50.0% {
        color: #ff00ff
    }
    66.7% {
        color: #ff0000
    }
    83.3% {
        color: #ffff00
    }
    100% {
        color: #00ff00
    }
}

.colorspin .t {
    animation: colorspin 4s linear infinite 0s;
}

.colorspin .a {
    animation: colorspin 4s linear infinite 1s;
}

.colorspin .r {
    animation: colorspin 4s linear infinite 2s;
}

.colorspin .e {
    animation: colorspin 4s linear infinite 3s;
}

.t {
    color: #0040ff
}

.e {
    color: #ff00c0
}

.r {
    color: #ffc000
}

.a {
    color: #00ff40
}

.b {
    color: #ff5500
}

.t, .e, .r, .a, .b {
    transition: color 300ms;
}

/* ======== SVG ======== */

svg * {
    stroke-width: inherit;
}

svg .blocksphere {
    fill: transparent;
    stroke: transparent;
    stroke-dasharray: 10 10;
}

svg .active .blocksphere {
    stroke: #444;
}

svg .pk0 {
    fill: #000;
    stroke: #111;
    fill-opacity: 0;
    transition: fill 300ms, stroke 300ms, opacity 300ms;
}

svg .pk5 {
    /* filter: url(#dilate); */
    fill: #444;
    stroke: #444;
    fill-opacity: 0.3;
    transition: fill 300ms, stroke 300ms, opacity 300ms, fill-opacity 300ms;
}

svg .pk10 {
    fill: #444;
    stroke: #444;
    fill-opacity: 0;
    transition: fill 300ms, stroke 300ms, opacity 300ms;
}

svg .block.hover .pk5, svg .block.active .pk5 {
    fill: #fff ;
    stroke: #fff ;
}
